
{% extends "layout.html" %}

{% block content %}
<div id="about-page" class="body-content">
    <div id="about" class="content">
        <div class="row">
          <h1>About</h1>
          <p>Inspired by an episode of the <a href="http://testandcode.com/36">Test and Code</a> podcast, we have come together to build a community of mentors willing help out anyone who has a Python problem.  To this end, we have created this website to make it easier for people to find a mentor.
          </p>
        </div>
    </div>

    <div id="who-we-are" class="content">
        <div class="row">
            <h1>Who We Are</h1>
        </div>
        <div id="brian-bio" class="row bio">
            <h3>Brian Okken</h3>
            <p>Host of Test And Code and Python Bytes.  Author of Python Testing with pytest.</p>
        </div>
        <div id="aaron-bio" class="row bio">
            <h3>Aaron Stevens</h3>
            <p>The creator of this website.</p>
        </div>
    </div>
</div>
{% endblock %}

