
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to Twitter Python Mentors</h1>

  <p>We want to increase collaboration, openness, and camaraderie in the Python developer community by encouraging developers to open up their DMs on Twitter, Reddit, and other social media sites so they can act as mentors to others.</p>
  <p><a href="/about" class="btn btn-primary btn-large">Learn more</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-6">
      <h2><i class="fa fa-search"></i> Find a Mentor</h2>
      <p>Search by discipline, spoken language, and social media presence</p>
      <p><a class="btn btn-default" href="/search">Search</a></p>
    </div>
    <div class="col-lg-6">
      <h2><i class="fa fa-comments"></i> Become a Mentor</h2>
      <p>Sign up to become a mentor!  You don't have to be an expert, just willing to help when someone has questions.</p>
      <p><a class="btn btn-default" href="/register">Sign Up</a></p>
   </div>
  </div><!-- /.row -->
</div>
{% endblock %}

